server:
  port: 3003
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: patient-service-route
              uri: http://patient-service:3000
              predicates:
                - Path=/api/patients/**
              filters:
                - StripPrefix=1